*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

main{
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  grid-template-rows: 200px auto;
  height: 100vh;
}

aside{
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  background: #1792D4;
}

header{
  grid-column: 2 / 4;
  background: #FFFFFF; 
	border-radius: 4px; 
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

article{
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  background: #E2E8F0;
}

.items-sidebar{
  color: #FFFFFF;
  font-size: 30px;
  padding: 20px;
}

li{
  padding: 10px;
}
span{
  padding-right: 30px;
}

.prueba{
 font-size: 40px;
}

.pr{
  font-size: 50px;
}